:host {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: inherit;
    padding: 0;
    touch-action: pan-y;

    &::ng-deep.slide {
        width: 100%;
        height: 100%;
        flex: 0 0;
        transition: transform 0.3s ease-out;
        border-radius: 4px;
        user-select: none;
        cursor: pointer;
        object-fit: inherit;
    }
}
