:host .input-container{
    position: relative;
}

:host .input-container .search-input {
    padding-right: 30px; /* Увеличиваем отступ для иконки */
    width: 100%;
    box-sizing: border-box;
}

:host .input-container .clear-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: block; /* Всегда показываем иконку */
}