:host {
    display: block;
    color: var(--text-base-tertiary, rgba(13, 17, 38, 0.40));
    text-align: right;
    font-family: var(--typography-family-inter, Inter);
    font-size: var(--typography-size-caption-s, 10px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--typography-line-height-caption-s, 14px);
    /* 140% */
    letter-spacing: var(--typography-letter-spacing-caption-s, 0);

    div[hour] {
        display: flex;
        column-gap: 3px;
    }

    span {
        display: inline-block;

        &:first-child {
            color: var(--text-base-primary, #14151A);
            margin-left: auto;
            text-align: right;
            font-family: var(--typography-family-inter, Inter);
            font-size: var(--typography-size-body-s, 16px);
            font-style: normal;
            font-weight: 400;
            line-height: var(--typography-line-height-caption-l, 20px);
            /* 125% */
            letter-spacing: var(--typography-letter-spacing-body-s, -0.2px);
        }
    }
}