:root {
    --yellow: #FFBF16;
    --color-main: rgba(141, 225, 248, 1);
    --semantic-neutral-2: #E9EAEC;
    --semantic-neutral-3: #dee0e3;
    --semantic-neutral-4: #c8cad0;
    --background-overlay-active-normal: #0A0F290A;
    --text-base-primary: #14151A;
    --text-base-secondary: rgba(15, 19, 36, 0.60);
    --text-base-tertiary: rgba(13, 17, 38, 0.40);
    --text-base-quaternary: rgba(10, 15, 41, 0.25);
    --text-status-destructive: #E6483D;
    --border-action-normal: #DEE0E3;
    --applied-loyalty-points: #A0A;

    --sidebar-bg-color: var(--background-surface-default, #FFF);
    --sidebar-line-color: #E9EAEC;
}
