:root {
    --height-general-header: 70px;
    --measurements-radius-xxl: 16px;
    --typography-size-body-s: 16px;
    --numbers-9: 9px;
    --numbers-12: 12px;
}

$bp-mobile: 600px;
$bp-desktop: 1280px;
$bp-block-width: 1440px;


