:host {
    display: flex;
    padding: var(--measurements-gap-0, 0);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--measurements-gap-0, 0);
    align-self: stretch;

    border-radius: var(--measurements-radius-xxl, 16px);
    background: var(--background-surface-default, #FFF);
}
