:host {
    display: flex;
    height: 32px;
    max-width: 256px;
    padding: var(--measurements-gap-4, 4px) 0;
    justify-content: flex-end;
    align-items: center;
    gap: var(--measurements-gap-8, 8px);
    flex: 1 0 0;
}
